---
import "../styles/global.css"
import BaseLayout from "../layouts/BaseLayout.astro"
import Head from "../components/Head.astro"
import Greeting from "../components/Greeting"
import LastPosts from "../components/LastPosts.astro"
import Tags from "../components/Tags.astro"
const pageTitle = "Inicio 🚀"
---

<html lang="en">
	<Head title={pageTitle} />
	<body>
		<BaseLayout pageTitle={pageTitle}>
			<Greeting client:load messages={["01000010 01101001 01100101 01101110 01110110 01100101 01101110 01101001 01100100 01101111  💻", "Qué tal?  😸", "Hello Coder!  🚀", "Hola Mundo!!!  👽"]} />
			<LastPosts />
			<Tags/>
		</BaseLayout>	
	</body>
</html>
