---
import Social from "./Social.astro"
---

<footer class="flex justify-center py-4 my-4">
  <a class="text-[--primary-color] text-[1rem] px-4 py-1 hover:opacity-75 focus:bg-transparent" href = "mailto: alexis.meza24421@gmail.com">Contacto</a>
  <Social platform="Github" username="AlxMeza" />
  <Social platform="Instagram" username="lex.dev_code" />
  <Social platform="Linkedin" username="in/alexis-meza-mejia" />
</footer>