---
import Social from "./Social.astro"

const platform = "github";
const username = "AlxMeza";
---
<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <p>¡Más información sobre mis proyectos en <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
  <Social platform="instagram" username="alxmeza" />
  <Social platform="instagram" username="lex.dev_code" />
  <Social platform="linkedin" username="alexis-meza-mejia" />
</footer>